@import url("http://fonts.cdnfonts.com/css/sofia-pro");
@import url(//db.onlinewebfonts.com/c/f05f148ec6596f0b75375fa566aaf1fe?family=Bely);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sofia Pro", sans-serif;
}

/* start nav bar */

.navbar-brand {
  margin-top: 5px;
}

.navbar .nav-link {
  color: #eee;
  font-weight: bold;
  margin: 0 6px;
  font-size: 15px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #1d91bb;
}

.pub-btn {
  background: rgba(250, 48, 67, 0.2);
  color: rgba(250, 48, 67, 0.8) !important;
  margin-left: 15px;
  border-radius: 7px;
  font-size: 14px !important;
  padding: 2px 15px !important;
  margin-top: 8px !important;
}

@media (max-width: 992px) {
  .pub-btn {
    width: 80px;
  }
}

/* feat issues section */

.feat-issues {
  height: 500px;
}

.circle {
  background-color: rgba(250, 48, 67, 0.8);
  height: 320px;
  width: 320px;
  border-radius: 50%;
  position: absolute;
  left: -150px;
  top: 180px;
}

.back-text {
  font-weight: 900;
  font-size: 200px;
  position: absolute;
  opacity: 0.03;
  margin-left: 65px;
  margin-top: -60px;
  z-index: -1;
}

.feat-issues h3 {
  font-size: 65px;
  font-weight: 900;
  margin-top: 180px;
  z-index: 2;
  position: relative;
}

.feat-issues img {
  position: relative;
  transition: 0.5s ease-in-out;
}

.feat-issues img:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .circle {
    top: 70px !important;
  }
  .feat-issues h3 {
    margin-top: 50px;
  }
  .feat-issues .img-1 {
    width: 130px !important;
  }
  .feat-issues .img-2 {
    width: 110px !important;
  }
  .feat-issues .img-3 {
    width: 110px !important;
  }
}

.feat-issues a.all {
  text-decoration: none;
  color: #ccc;
  font-size: 13px;
  margin-top: 175px;
  display: block;
}

/* quote section */

.quote {
  padding: 60px 0;
  font-family: Bely !important;
}

.sign {
  font-size: 75px !important;
  margin-bottom: -50px !important;
  font-family: fantasy !important;
  opacity: 0.2;
}

.quote p {
  font-family: Bely !important;
}

@media (min-width: 992px) {
  .quote p {
    width: 50%;
    margin: auto;
    font-size: 35px;
  }
}
.quote span {
  color: rgba(250, 48, 67, 0.8);
  font-family: Bely !important;
}

/* features section */

.feats {
  padding: 70px 0;
  background-color: #000;
  border-radius: 50px;
  margin: 0 30px;
}

@media (max-width: 767px) {
  .feats {
    margin: 0 10px !important;
  }
  .feats h4 {
    font-size: 18px !important;
  }
}

.feat {
  max-width: 85%;
}

.feats h4 {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
}

.feats p {
  color: #ccc;
  font-size: 13px;
}

/*guidelines*/
.guidelines {
  padding: 70px 0;
}

.guidelines .warning {
  background-color: rgba(250, 48, 67, 0.8);
  color: #fff;
  display: inline-grid;
  border-radius: 50%;
  width: 20px;
  height: 28px;
  text-align: center;
  margin-right: 10px;
}

/* team section */

.team {
  padding: 50px 0;
}

.team-box {
  background: #f2f2f2;
  padding: 30px;
  border-radius: 40px;
}

.team-box i {
  border-radius: 15px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px !important;
  font-size: 32px;
  margin-top: 15px;
  color: #000 !important;
}

.team img {
  border-radius: 50%;
  width: 80%;
  margin-bottom: 10px;
}

.team-box p {
  font-size: 12px;
}

.team h3 {
  font-size: 22px;
}

.team h5 {
  font-size: 13px;
  color: #bbb;
  text-transform: uppercase;
}

.team i {
  color: #676767;
  margin-bottom: 30px;
}

/*start footer section*/

footer {
  padding-top: 50px;
  background: #000;
}

footer h4 {
  color: #f2f2f2;
  position: relative;
  margin-left: 100px;
  font-size: 2.3rem;
  margin-top: 45px;
  margin-bottom: 25px;
  font-family: -webkit-pictograph;
}

footer h4::after {
  content: "";
  background-color: #f2f2f2ad;
  width: 172px;
  height: 1.5px;
  position: absolute;
  margin-left: -172px;
  top: 47px;
}

footer p {
  color: #676767;
  font-size: 14px;
  margin-left: 100px;
}

footer img {
  height: 28px !important;
}

footer .jobs {
  margin-left: 150px;
  margin-top: 90px;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  footer .jobs,
  footer h4,
  footer p {
    margin-left: 15px;
  }
  footer .jobs {
    margin-top: 25px;
  }
}

footer .jobs p {
  font-size: 17px;
}

footer .jobs p span {
  color: #f2f2f2;
}

footer a {
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  color: #ccc;
}

footer a:hover {
  color: #f2f2f2;
}

.rights {
  color: #ccc;
  margin-top: -5px;
  font-size: 11px;
  padding-bottom: 10px;
  margin-top: 60px;
}
